#panel2-fieldset{
	float: left;
}

#panel2-fieldset + .panel-element-row{
	display: inline-block;
	margin-top: 20px;
}

#runs_input{
	margin-right: 0px;
	padding-right: 0px;
}

#panel2 > .dashboard-panel{
	margin-bottom: 2px;
}

/*
 * This makes the tabs jive with the edges of the panels better
 */
.dashboard-layout-row-column{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

/*
 * For making the dashboard go to the edges
 */
/*
.main-section-body.dashboard-body{
	padding-left:0px;
	padding-right:0px;
}

.dashboard-header{
	padding-left:10px;
	padding-right:10px;
}
*/